language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install: "pip install -r requirements.txt"
# run the linter
before_script:
  - "flake8 ."
# command to run tests
script: "nosetests"
