# This will install *all* of the requirements. If you only want to install
# a subset of the requirements check out the requirements directory

-r requirements/requirements-testing.txt
-r requirements/requirements-documentation.txt
