alabaster==0.7.6
argh==0.26.1
Babel==2.1.1
docutils==0.12
Jinja2==2.8
livereload==2.4.0
MarkupSafe==0.23
pathtools==0.1.2
Pygments==2.0.2
pytz==2015.6
PyYAML==3.11
six==1.10.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-autobuild==0.5.2
sphinx-rtd-theme==0.1.9
tornado==4.2.1
watchdog==0.8.3
